body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid black;
  color: #666;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.ck-editor__editable_inline {
  height: 80vh;
  max-width: 826px;
}

.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none;
}

.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  border: none !important;
  box-shadow: none !important;
}

.ck-toolbar {
  border: none !important;
  background-color: transparent !important ;
}
